:root{
    --team-builder: hsl(0, 78%, 62%);
    --superviser: hsl(180, 62%, 55%);
    --calculator: hsl(212, 86%, 64%);
    --karma: hsl(34, 97%, 64%);

    --h: hsl(234, 12%, 34%);
    --p: hsl(229, 6%, 66%);
    --bg: hsl(0, 0%, 98%);
    --card_bg: hsl(0, 0%, 100%);
}